<div class="container" [ngClass]="level" *ngIf="data">
  <div class="column left">

    <div cdkDropList [cdkDropListData]="sortingGameService.tiles" class="bin draggables" [cdkDropListEnterPredicate]="sortingGameService.noReturnPredicate" [cdkDropListConnectedTo]="sortingGameService.bins">
      <div [ngClass]="tile[level].correctDiv" class="item" [id]="tile.id" *ngFor="let tile of sortingGameService.tiles" cdkDrag [cdkDragData]="tile">
        <div class="header">
          <h2>{{tile.title}}</h2>
          <img [src]="tile.image" [alt]="tile.title" />
          <div *cdkDragPlaceholder></div>
          <div class="item" *cdkDragPreview>
            <div class="header">
              <h4>{{tile.title}}</h4>
              <img [src]="tile.image" [alt]="tile.title" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="sortingGameService.game.numberOfTiles == 0">
        <h1>You Win!</h1>
        <p>Your score is {{sortingGameService.game.score}} points.</p>
    </div>

    <button class="creditsButton" mat-raised-button draggable="false" onmousedown="return false" (click)="sortingGameService.toggleCreditsModal()" *ngIf="sortingGameService.game.credits">Credits</button>
  </div>
  <div class="column middle">
    <div class="dropzones" *ngFor="let zone of sortingGameService.game.dropzones | keyvalue">
      <div class="dropzone" [ngClass]="zone.value.classname">
        <div class="header">
          <h1>{{zone.value.title}} <span class="dropzone_description">{{zone.value.description}}</span></h1>
        </div>
        <div class="bin droppables" [id]="zone.value.id" cdkDropList [cdkDropListData]="sortingGameService.dropBins[zone.value.id]" [ngClass]="zone.value.classname" (cdkDropListDropped)="sortingGameService.drop($event)" cdkDropListDisabled="true">

          <div class="item dropped" *ngFor="let item of sortingGameService.dropBins[zone.value.id]" cdkDrag>
            <div class="header">
              <h2>{{item.title}}</h2>
              <div><img [src]="item.image" /></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="column right">
    <h1>{{data.levels[level].title}}</h1>
    <div class="response" [ngClass]="sortingGameService.game.response.titleclass">
      <h2 *ngIf="sortingGameService.game.response.title" id="response_title">{{ sortingGameService.game.response.title}}</h2>
      <p id="response_body">{{ sortingGameService.game.response.body }}</p>
    </div>
    <p class="directions_subtext">{{data.levels[level].directions.SUBTEXT}}</p>

    <p class="score">Your Score = {{sortingGameService.game.score}}</p>
    <div class="progress">
      <div class="progress_label">
        Your Progress:
      </div>
      <div class="progress_meter_container">
        <div class="progress_labels">
          <div *ngFor="let item of data.levels | keyvalue">
            {{item.value.buttonTitle}}
          </div>
        </div>
        <div class="meter">
          <span [ngStyle]="{width: sortingGameService.game.progressPercent}"></span>
        </div>
      </div>
    </div>

    <div class="levelbuttons">
      <button mat-raised-button draggable="false" onmousedown="return false" *ngFor="let item of data.levels | keyvalue" [ngClass]="{'active':item.key==level}" (click)="changeLevel(item.key)">{{item.value.buttonTitle}}</button>
    </div>
  </div>
  <audio id="{{item.value.id}}" preload="auto" *ngFor="let item of data.audio | keyvalue">
    <source [src]="item.value.src" [type]="item.value.type">
  </audio>
</div>


<scied-modal *ngIf="data" [visible]="sortingGameService.showModal" [modaltitle]="sortingGameService.modal.title" [closable]="closable" (visibleChange)="onVisibleChange($event)">
  <div [innerHTML]="sortingGameService.modal.body"></div>
  <button mat-raised-button color="primary" (click)="sortingGameService.closeModal();" class="closeBtn">Close</button>
</scied-modal>
