<div class="container" [ngClass]="level" *ngIf="data" cdkDropListGroup>
  <div class="column left">
    <div cdkDropList [cdkDropListData]="sortingGameService.tiles" class="bin draggables" (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="noReturnPredicate" [cdkDropListConnectedTo]>
      <div [ngClass]="tile[level].correctDiv" class="item" [id]="tile.id" *ngFor="let tile of sortingGameService.tiles" cdkDrag>
        <div class="header">
          <h4>{{tile.title}}</h4>
          <img [src]="tile.image" [alt]="tile.title" />
          <div *cdkDragPlaceholder></div>
          <div class="item" *cdkDragPreview>
            <div class="header">
              <h4>{{tile.title}}</h4>
              <img [src]="tile.image" [alt]="tile.title" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="creditsButton" mat-raised-button draggable="false" onmousedown="return false" (click)="toggleCreditsModal()" *ngIf="data.game.credits">Credits</button>
  </div>
  <div class="column middle">
    <div class="dropzones" *ngFor="let zone of data.dropzones[level] | keyvalue">
      <div class="dropzone" [ngClass]="zone.value.classname">
        <div class="header">
          <h4>{{zone.value.title}} <span class="dropzone_description">{{zone.value.description}}</span></h4>
        </div>
        <div class="bin droppables" [id]="zone.value.id" cdkDropList [cdkDropListData]="dropBins[zone.value.id]" [ngClass]="zone.value.classname" (cdkDropListDropped)="drop($event)">

          <div class="item dropped" *ngFor="let item of dropBins[zone.value.id]" cdkDrag>
            <div class="header">
              <h4>{{item.title}}</h4>
              <div><img [src]="item.image" /></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="column right">
    <h1>{{data.levels[level].title}}</h1>
    <div class="response">
      <h2 id="response_title">{{data.levels[level].directions.heading }}</h2>
      <p id="response_body">{{data.levels[level].directions.description }}</p>
    </div>
    <p class="directions_subtext">{{data.levels[level].directions.SUBTEXT}}</p>

    <p class="score">Your Score = {{sortingGameService.score}}</p>
    <div class="progress">
      <div class="progress_label">
        Your Progress:
      </div>
      <div class="progress_meter_container">
        <div class="progress_labels">
          <div *ngFor="let item of data.levels | keyvalue">
            {{item.value.buttonTitle}}
          </div>
        </div>
        <div class="meter">
          <span [ngStyle]="{width: sortingGameService.game.progressPercent}"></span>
        </div>
      </div>
    </div>

    <div class="levelbuttons">
      <button mat-raised-button draggable="false" onmousedown="return false" *ngFor="let item of data.levels | keyvalue" [ngClass]="{'active':item.key==level}" (click)="webapp.goToPage(baseUrl+'/'+item.key)">{{item.value.buttonTitle}}</button>
    </div>
  </div>
  <audio id="{{item.value.id}}" preload="auto" *ngFor="let item of data.audio | keyvalue">
    <source [src]="item.value.src" [type]="item.value.type">
  </audio>
</div>


<!--//scied-modal visible="dd.showModal" modaltitle="dd.modal.title">
        <div ng-bind-html="dd.modal.text | unsafe"></div>
        <button class="md-raised md-cornered closeBtn" (click)="dd.closeModal();">Close</button>
    </scied-modal//-->
<!--//scied-modal visible="dd.showChooseLevelModal" modaltitle="modal.title" *ngIf="dd.data.game.popups == true">
        <label for="id">Choose a Level</label>
         <select id="levelchooser" ng-change="dd.changeLevel();" ng-model="dd.level">
             <option value="{{levelname}}" ng-repeat="(levelname, leveldata) in dd.data.levels" >{{leveldata.buttonTitle}}</option>
        </select>
    </scied-modal//-->
<!--//scied-modal visible="dd.showCompleteModal" modaltitle="dd.dragDropModalTitle" class="dd.dragDropModalClass">
        <p>Your score is {{dd.score}} points.</p>
        <button (click)="dd.nextLevel()" *ngIf="dd.level != dd.last_level" id="nextButton">Next Level</button>
        <button (click)="dd.restartGame()" *ngIf="dd.level == dd.last_level" id="restartButton">Restart Game</button>
    </scied-modal//-->


<!--//scied-modal *ngIf="game" [visible]="showCompleteModal" [modaltitle]="game.sortingModalTitle" [closable]="closable" (visibleChange)="onVisibleChange($event)">
  <p>Your score is {{game.score}} points.</p>
  <button (click)="nextLevel()" *ngIf="game.level != game.last_level" id="nextButton">Next Level</button>
  <button (click)="restartGame()" *ngIf="game.level == game.last_level" id="restartButton">Restart Game</button>
  <button mat-raised-button color="primary" (click)="closeModal();" class="closeBtn">Close</button>
</scied-modal//-->


<scied-modal *ngIf="data" [visible]="showModal" [modaltitle]="modal.title" [closable]="closable" (visibleChange)="onVisibleChange($event)">
  <div [innerHTML]="modal.body"></div>
  <button mat-raised-button color="primary" (click)="closeModal();" class="closeBtn">Close</button>
</scied-modal>
