  <div class="flex-container" *ngIf="data?.length > 0" [ngClass]="customClass">
    <div class="flex-item" (click)="webapp.goToPage(item.content.url);" *ngFor="let item of data" [ngClass]="itemClass">
      <h1>
        {{item.content.title}}
      </h1>
      <img class="placeholder" *ngIf="!item.content.placeholder.mp4 && item.content.placeholder.image" [src]="item.content.placeholder.image?.file" [width]="item.content.placeholder.width" [height]="item.content.placeholder.height" draggable="false" onmousedown="return false">
      <video class="placeholder" *ngIf="item.content.placeholder.mp4" [width]="item.content.placeholder.width" [height]="item.content.placeholder.height" [poster]="item.content.placeholder.image?.file" autoplay loop>
        <source [src]="item.content.placeholder.mp4?.file" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
